.header-top-container {
    width: 1200px;
    margin: 0 auto;
}

.header-top {
    min-width: 1200px;
    height: 40px;
    background-color: #f8f8f8;
    border-bottom: 1px #ebebeb solid;
}

.header-top-home {
    float: left;
}

.header-top a {
    line-height: 40px;
    color: #333333;
}

.header-top .header-top-login {
    color: red;
}

.header-top-menu {
    float: right;
}

.header-top-menu li {
    padding-left:22px;
}
.header-top-container:after {
    content: '';
    display: block;
    clear: both;
}

.header-top-menu li {
    float: left;
}

.header-search-container {
    min-width: 1200px;
    background-color: #fff;
}

.search-container {
    width: 1200px;
    margin: 0 auto;
}

.header-search-logo,.header-search-content {
    float: left;
}

.header-search-code {
    float: right;
}

.header-search-content {
    width: 434px;
    text-align: center;
    height: 44px;
    padding: 30px 0;
}

.header-search-content input {
    float:left;
}

.search-container:after{
    content: "";
    display: block;

    zoom: 1;
    /*兼容IE*/

    clear: both;
}

.header-search-content > input:first-child {
    width: 85%;
    height: 44px;
    border: #fb3434 2px solid;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    outline: none;
    padding: 0 15px;
}
.header-search-content > input:last-child {
    width: 15%;
    height: 44px;
    background-color: #fb3434;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    box-sizing: border-box;
}

section > nav{
    height: 50px;
    background-color: #fb3434;

}

.main-nav-container{
    padding: 0 50px;
    width: 1200px;
    margin: 0 auto;

}

.main-nav-container li{
    float: left;
    width:10%;
    height: 50px;
    color: white;
    background-color: #fb3434;
    text-align: center;
    line-height: 50px;
}

.main-nav-container li:hover{
    background-color:yellow;
    color: #fb3434;
}

.main-nav-container:after{
    content: "";
    display: block;
    clear: both;
}

#main-goods-image{
    width:1200px;
    height:82px;
    margin: auto;
}

#main-goods-image img{
    width:1150px;
    height: 82px;
    float: left;
}

#main-goods-image img:after{
    content: "";
    display: block;
    clear:both;
}

#main-goods-rmsp{
    width:1200px;
    height:80px;
    margin: auto;
}

#main-goods-rmsp img{
    width:240px;
    height: 80px;
    float: left;
    padding:0 65% 0 35%;
}

#main-goods-rmsp img:after{
    content: "";
    display: block;
    clear:both;
}

footer{
    width:100%;
    height:350px;
    background-color: #444444;
    float: left;
    color: white;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

#footer-top{
    width:1150px;
    height: 350px;
    margin: 0 auto;

}

#footer-top ul{
    width:1150px;
    margin:auto;
    text-align: center;

}

#footer-top ul li{
    line-height: 100px;
    text-align: center;
    float: left;
    margin-left: 10%;
    font-size: 20px;
    position: relative;
    /*margin: 0 auto;*/
}

#footer-top ul li:after{
    content: "";
    display: block;
    clear: both;
}

#footer-top-one{
    position: absolute;
    top:50px;
    left:-118px;
    font-size: 16px;
}

#footer-top-one li{
    clear: both;
    display: block;
    margin-top:-60px ;
    font-size: 16px;
}

#footer-bottom{
    width:1150px;
    margin: 0 auto;
    margin-top: -90px;
}

#footer-bottom ul{
    width:1150px;
    margin:auto;
    text-align: center;
    margin-left: 5%;

}

#footer-bottom ul li{
    padding: 0 2% 2% 0;
    float: left;
}